# Fork of the default Klipper display
# Copyright (C) 2022 Jonathan Harper
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

###
# 16x4(128x64) Display Groups
###
[display_data _default_16x4 fan]
position: 0, 10
text: 
  {% if "temperature_fan exhaust_fan" in printer %}
    {% set chamber = printer["temperature_fan exhaust_fan"] %}
	{% if chamber.speed > 0 %}
      ~chamber_hot~
	{% else %}
	  ~chamber_temp~
    {% endif %}
    # Show temperature
    { "%3.0f" % (chamber.temperature,) }
    ~degrees~
  {% else %}
    { "00" }
  {% endif %}

###
# Display Glyphs
###

[display_glyph chamber_hot]
data:
  ................
  .*....***.......
  .**..*...*......
  .*...*...***....
  .....*...*......
  .....*******....
  .....*****......
  .....*******....
  .....*****......
  ....*******.....
  ...*********....
  ...*********....
  ...*********....
  ....*******.....
  .....*****......
  ................

[display_glyph chamber_temp]
data:
  ................
  ......***.......
  .....**..*......
  .....**..***....
  .....**..*......
  .....**..***....
  .....**..*......
  .....*...***....
  .....*...*......
  ....*.....*.....
  ...*.......*....
  ...*.....*.*....
  ...*.....*.*....
  ....*...*.*.....
  .....*****......
  ................
