# Fork of the default Klipper display
# Copyright (C) 2022 Jonathan Harper
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

###
# Templates
###

# Chamber Temperature

[display_template chamber_temperature]
param_fan_name: "exhaust_fan"
text:
  {% if param_fan_name in printer %}
    {% set chamber_fan = printer[param_fan_name] %}
	
	# Show glyph
	{% if chamber_fan.speed %}
      ~chamber_hot~
	{% else %}
	  ~chamber_temp~
    {% endif %}
    # Show temperature
    { "%3.0f" % (chamber_fan.temperature,) }
    ~degrees~
  {% endif %}